<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="https://www.liverpoolfc.com/liverpoolfc_crest.png" alt="" height="70px"></a>
      <div class="collapse navbar-collapse pull-right" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/results">Scores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/upcoming">Upcoming Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.liverpoolfc.com/" target="_blank">Official LFC Site</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>